.required {}
.required:before {content:'* '; color:#c11; margin-left:-0.8em; font-size:1.3em}

input[type=radio] {}
input[type=text],input[type=password], input[type=file], textarea, select {
	background: #fff;
  	border: 1px solid #ccc;
  	border-color: #AAAAAA #D4D4D4 #e8e8e8 #D5D5D5;
  	border-radius: 4px;
  	color: #1F2123;
	padding:4px 6px;
	min-width:100%;
}
input[type=text]:focus,input[type=password]:focus, input[type=file]:focus, textarea:focus, select:focus {
 	box-shadow:0 0 5px #0af;
}
input[type=submit], input[type=button] {padding:0.2em 1.5em}

label {display:block;}
label > input {margin-right:0.5em;}
input + label {display: inline;}
.block ul {background:rgba(200,200,200,0.4);box-shadow:inset 0 -1px 2px #aaa;border-radius:6px 6px 0 0;}
.block .form_tab a{border-radius:6px 6px 0 0; background:rgba(100,100,100,0.2); color:#666; text-decoration:none; float:left; margin:2px 2px 0; padding:0.2em 1.5em;}
.block .form_tab a:hover,
.block .form_tab.active a {
	color:#000;
	background: #fff; /* Old browsers */
	background: -webkit-linear-gradient(top,  #fff 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fff 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fff 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fff 0%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
}
.block .form_tab.active a:hover {cursor:default}
.block.form {background:rgba(220,220,220,0.3); box-shadow:inset 0 1px 2px rgba(100,100,100,0.5);}
.block table {outline:0px solid #f33; width:100%;}
.block table td {padding:5px 10px;}
.block table td:first-child {margin-top:15px;}

.block.form table td {padding:0.8em 2em;	vertical-align:bottom;}
.block.form table td td {padding:0 2px;} 					/* clear for nested table */
.block.form table tr:first-child td {padding-top:2em;}
.block.form table tr:last-child td {padding-bottom:2em;}
.block.form table td tr:first-child td {padding-top:0;}		/* clear for nested table */
.block.form table td tr:last-child td {padding-bottom:0;}	/* clear for nested table */

label:hover {color:#000;}
label.error {color:#c00;}

.help  {
 	background:rgba(200,200,200,0.3) url("icon_help_32.png.xhtml?ln=images") no-repeat 8px 50%;
 	padding-left:46px !important;
	color:#888;
	padding:1em;
	border-radius:4px;
}

.error_general {background:#c10; color:#fff; border-radius:6px; padding:0.5em 1em;}